# {{ ansible_managed }}
driftfile /var/lib/ntp/drift

restrict 127.0.0.1 
restrict -6 ::1

erver 0.europe.pool.ntp.org
server 1.europe.pool.ntp.org
server 2.europe.pool.ntp.org
server 3.europe.pool.ntp.org

